{% extends "base.html" %}
{% block title %}Bucket Data Holder{% endblock %}
{% block content %}
	<table class="table">
	<tr>
		<th>User</th>
		<th>Bucket</th>
		<th>Product</th>
		<th>StartTime</th>
		<th>StopTime</th>
		<th>Counters</th>
		<th>Action</th>
	</tr>
	{% for identityid in buckets.keys() %}
		{% for bucket in buckets[identityid] %}
		<tr {% if bucket.stopTime != None and unicodeToDatetime(bucket.stopTime) < date_now() %} style="color: #999999" {% endif %}>
			{% if loop.first %}
			<td style="vertical-align:middle;" rowspan="{{ buckets[identityid]|count }}">
				<a href="/ue/{{identityid}}">{{identityid}}</a>
			</td>
			{% endif %}
			<td align="center">{{bucket.id}}</td>
			<td>{{bucket.name}}</td>
			<td>{{bucket.startTime}}</td>
			<td>{{bucket.stopTime}}</td>
			<td>
			{{bucket.counters["tot"]|filesizeformat}}
			<!-- If all counters should be shown
			<table class="table">  
			{% for k,v in bucket.counters.iteritems() %}
			<tr>
					<td align="left">{{k}}</td><td align="right">{{v}}</td>
			</tr>
			{% endfor %}
			</table>
			-->
			</td>
			{% if loop.first %}
				<td style="vertical-align:middle;" rowspan="{{ buckets[identityid]|count }}">
					
					<form action="/bdh/{{identityid}}" method="post">
						<input name="action" class="btn btn-xs btn-danger" type="submit" value="Remove">
					</form>
			
				</td>
			{% endif %}
		</tr>
		{% endfor %}
	{% endfor %}
</table>
<!--	<div>      
		<form action="/bdh" method="POST">
			<input name="action" type="submit" class="btn btn-danger" value="Reset BDH">
			<input name="action" type="submit" class="btn btn-default" value="Refresh BDH">
		</form>
	</div>
-->
					
{% endblock %}