{% extends "base.html" %}
{% block title %}PCC Demo Introduction{% endblock %}
{% block head %}
{{super()}}
<script type="text/javascript">
function hover(element) {
    element.setAttribute('src', 'assets/images/reference_architecture_annotated.png');
}
function unhover(element) {
    element.setAttribute('src', 'assets/images/reference_architecture.png');
}
</script>

{% endblock %}
{% block content %}
<img style="width: 800px;"  src="/assets/images/reference_architecture.png" onmouseover="hover(this);" onmouseout="unhover(this);">

{% endblock %}