{% extends "base.html" %}
{% block title %}PCEF Rules{% endblock %}

{% block bcrumb %}
<ol class="breadcrumb">
<li><a href="/pcef">PCEF</a></li>
<li><a href="/pcef/{{pcef}}">{{pcef}}</a></li>
<li class="active">Rules</li>
</ol>
{% endblock %}

{% block content %}

	<article class="content">    
		<section>        
			<h2>Static PCC Rules</h2>        
			<table border="0" class="contentTable">    
			<tr>
				<th>Name</th>
				<th>QoS</th>
				<th>Download Min (kbs)</th>
				<th>Upload Min (kbs)</th>
				<th>Download Max (kbs)</th>
				<th>Upload Max (kbs)</th>
			</tr>
			{% for rule in rules.values() %}
			<tr>
				<td> <a href="/pcef/rule/{{rule.name}}">{{rule.name}}</a></td> 
				<td> {{rule.qos}}</td>
				<td> {{rule.downloadMin_kbs}} </td> 
				<td> {{rule.uploadMin_kbs}} </td> 
				<td> {{rule.downloadMax_kbs}} </td> 
				<td> {{rule.uploadMax_kbs}} </td> 
			</tr>
			{% endfor %}
			
				
</table>
</section>

</article>
					
{% endblock %}