{% extends "base.html" %}
{% block title %}PCEF Rule{% endblock %}
{% block bcrumb %}
<ol class="breadcrumb">
<li><a href="/pcef">PCEF</a></li>
<li><a href="/pcef/{{pcef}}">{{pcef}}</a></li>
<li class="active">Rules</li>
</ol>
{% endblock %}

{% block content %}

	       
			<h2>Rule</h2>        
			
			<div class="row">
			<div class="col-sm-4">
			<table border="0" class="table">    
				{% for k,v in rule.iteritems() %}
				<tr>
						<td>{{k}}</td><td>{{v}}</td>
				</tr>
				{% endfor %}
				
			</table>
			</div>
			</div>

</section>

</article>
{% endblock %}