{% extends "base.html" %}
{% block title %}Bucket Data Holder{% endblock %}
{% block head %}
{{ super() }}
<script>
function deleteSession(id) {
	var xmlhttp;
	xmlhttp = new XMLHttpRequest();
	xmlhttp.open("DELETE", "/pcef/sessions/"+id, false);
	xmlhttp.send();
}
</script>
{% include "livechart.js" %}
{% endblock %}
{% block content %}

  
	      
	<h2>Session</h2>     
	<form action="/pcef/{{pcef.id}}/sessions/{{session.sessionId}}" method="post">   
	<table class="table">    
		<tr>
				<td>Session Id</td><td> {{session.sessionId}} </td>
		</tr>
		<tr>	
			<td>UE Identity</td><td><a href="/ue/{{session.identity}}"> {{session.identity}} </a></td> 
		</tr>
		<tr>
		<td>Location</td><td>
			<label class="radio-inline">
  <input type="radio" name="isAtHome" id="isAtHome_False" value="0" {% if not session.atHomeLocation %} checked {% endif %}> <span class="glyphicon glyphicon-tree-deciduous"></span>
</label>
<label class="radio-inline">
  <input type="radio" name="isAtHome" id="isAtHome_True" value="1" {% if session.atHomeLocation %} checked {% endif %}> <span class="glyphicon glyphicon-home"></span>
</label>
</td>
<!--
			<td>Location</td><td>{% if session.atHomeLocation %}At Home<span class="glyphicon glyphicon-home"></span>{% else %}Not at Home<span class="glyphicon glyphicon-tree-deciduous"></span>{% endif %}</td> -->
		</tr>
		<tr>
		<td>Rules</td>
		<td>
		<h4>
		{% for chargingRule in session.installedRules %}
		<a href="/pcef/rule/{{chargingRule}}" >
		<span class="label label-primary">{{chargingRule}}</span></a>
		{% endfor %}
		</h4>
		</td>
		</tr>
	</table>
	<div class="row well hidden">
	{% include "livechart_snippet.html" %}
	</div>
	<div class="row well">

	
	<div class="col-md-10">
		<table class="table">
			<thead>
				<tr>	
					<th>Traffic type</th>
					<th>Used</th> 
					<th>Granted</th>
					<th>New usage</th>
				</tr>
			</thead>
			<tbody>
				{% for minfo in session.monitoringInfo.values() %}				
					<tr>	
						<td> {{ minfo.key}} </td>
						<td> {{ minfo.usage|filesizeformat}} </td>
						<td> {{ minfo.gsu|filesizeformat}} </td> 
						<td><input type="text" name="{{minfo.key}}"></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-2">
		<input type="submit" class="btn btn-success" value="Report usage">
	</div>
	</form>
</div>
<div class="container">
	<h3>Buckets</h3>
	<div class="row">
		<div class="col-md-8">
			<div id="demo" class="collapse in">
				<table class="table">  
					<tr>
						<th>ID</th>
						<th>Product</th>
						<th>StartTime</th>
						<th>StopTime</th>
						<th>Counters</th>
					</tr>
					{% for bucket in buckets %}
					<tr>
						<td>{{bucket.id}}</td>
						<td>{{bucket.name}}</td>
						<td>{{bucket.startTime}}</td>
						<td>{{bucket.stopTime}}</td>
						<td>
							
						{{bucket.counters["tot"]|filesizeformat}}
							<!--
							<table class="table">  
							{% for k,v in bucket.counters.iteritems() %}
							<tr>
									<td align="left">{{k}}</td><td align="right">{{v}}</td>
							</tr>
							{% endfor %}
							</table>
							-->
			
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
  	</div>
</div>
	<div style="padding-top:20px;">
	<button onclick='deleteSession("{{session.sessionId}}");' type="button" class="btn btn-danger">Terminate session</button>
	</div>



{% endblock %}