<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    {% block head %}
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/bootstrap-3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/assets/bootstrap-3.3.4/css/bootstrap-theme.min.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/assets/script/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <link href="/assets/styles/sticky-footer-navbar.css" rel="stylesheet">
    <title>Starmobile</title>
    {% endblock %}
    <link rel="stylesheet" href="/assets/styles/styles_custom.css">
   
</head>
<body role="document">


<nav class="navbar navbar-inverse navbar-fixed-top topnav">
      <div class="container">
        <div class="navbar-header" style="height:100px;">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/assets/images/logo.png" style="width: 200px" alt="Star Mobile"/></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Sign Up</a></li>
            <li><a href="/starmobile/{{ue.identity}}">My Star Pages</a></li>
            <li><a href="/starmobile/{{ue.identity}}">My Overview</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">

            <li role="presentation" class="active"><a  href="/ue/{{ue.identity}}" target="_blank"><span style="font-size: 14px; padding: 4px 4px 4px 8px; background: rgb(40, 171, 226); border-radius: 10px;">{{ue.name}}<span class="badge" style="margin-left:8px">{{buckets|count}}</span></span></a>
            </li>
                           
 
           </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" style="padding-top:75px;">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}}" role="alert">
                 {{ message}}
                 </div>
                {% endfor %}
        {% endif %}
    {% endwith %}

            <div class="row clearfix">
                <div class="col-md-8 column">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">
                                Your Subscriptions ({{ue.identity}})
                            </h1>
                        </div>
                        <div class="panel-body">
                            <table class="table">  
                                <tr>
                                <th>Product</th><th>Time left</th><th>Used</th>
                                </tr>
                                    {% for bucket in buckets %}
                                    {% if bucket.stopTime == None or unicodeToDatetime(bucket.stopTime) > date_now() %}
                                        <tr>
                                            <td>{{bucket.name}}</td>
                                            <td>{{daysLeft(bucket.stopTime)}}</td>
                                            <td>{{bucket.counters["tot"]|filesizeformat}}</td>
                                        </tr>
                                    {% endif %}
                                    {% endfor %}
                            </table>

                        </div>
                      
                    </div>
                </div>
               
                <div class="col-md-4 column">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">
                                Add Packages
                            </h1>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                 <li class="list-group-item" >
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <button onclick='$("#usecase_1").submit();' class="btn btn-sm btn-primary" style="width:80px">Buy!</button>
                                        </div>
                                        <form action="/usecase/1" method="post" id="usecase_1">       
                                            <input name="IMSI" type="hidden" value="{{ue.identity}}">                                        
                                        </form>
                                        <span><img src="/assets/images/money-bucket-icon.png" width="40px" style="padding-right: 20px;"/>Monthly Bucket 500MB</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="thumbnail">
                                        <div class="caption" >
                                            <button onclick='$("#usecase_2").submit();' class="btn btn-sm btn-primary" style="width:80px">Buy!</button>
                                        </div>
                                        <form action="/usecase/2" method="post" id="usecase_2">       
                                            <input name="IMSI" type="hidden" value="{{ue.identity}}">                                        
                                        </form>
                                        <span onclick='$("#usecase_2").submit();'><img src="/assets/images/icon-coupon-150x150.png" width="40px" style="padding-right: 20px;"/>Boost Coupon 1 min</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="thumbnail">
                                        <div class="caption" >
                                            <button onclick='$("#usecase_3").submit();' class="btn btn-sm btn-primary" style="width:80px">Buy!</button>
                                        </div>
                                        <form action="/usecase/3" method="post" id="usecase_3">       
                                            <input name="child1" type="hidden" value="460002">
                                            <input name="child2" type="hidden" value="460003">
                                        </form>
                                        <span onclick='$("#usecase_3").submit();'><img src="/assets/images/famiglia.png" width="40px" style="padding-right: 20px;"/>Family 1GB/500MB</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="thumbnail">
                                        <div class="caption" >
                                            <button onclick='$("#usecase_4").submit();' class="btn btn-sm btn-primary" style="width:80px">Buy!</button>
                                        </div>
                                        <form action="/usecase/4" method="post" id="usecase_4">       
                                            <input name="IMSI" type="hidden" value="{{ue.identity}}">                                       
                                        </form>
                                        <span onclick='$("#usecase_4").submit();'><img src="/assets/images/2000px-Youtube_icon.png" width="40px" style="padding-right: 20px;"/>YouTube Package</span>
                                    </div>
                                    
                                    
                                </li>
                            </ul>
                        </div>
                       
                    </div>
                </div>

            </div>
            <div class="row clearfix">
             <div class="col-md-12 column">
                    <div class="carousel slide" id="carousel-285359">
                        <ol class="carousel-indicators">
                            <li class="active" data-slide-to="0" data-target="#carousel-285359">
                            </li>
                            <li data-slide-to="1" data-target="#carousel-285359">
                            </li>
                            {% if ue.identity == "462005" %}
                            <li data-slide-to="2" data-target="#carousel-285359">
                            </li>
                            {% endif %}
                        </ol>
                        <div class="carousel-inner">

                            <div class="item {% if ue.identity != '462005' and ue.identity != '462004' %} active {% endif %}">
                                <img alt="" src="/assets/images/reklam.png" onclick='$("#usecase_4").submit();'/>
                            </div>
                            <div class="item">
                                <form action="/usecase/5" method="post" id="usecase_5">       
                                    <input name="IMSI" type="hidden" value="{{ue.identity}}">
                                    <input name="ProductID" type="hidden" value="7">
                                </form>
                                <img alt="" src="/assets/images/sports.png"  onclick='$("#usecase_5").submit();'/>
                            </div>
                            {% if ue.identity == "462005" %}
                            <div class="item active">
                                <form action="/usecase/7" method="post" id="usecase_7">
                                    <input name="IMSI" type="hidden" value="{{ue.identity}}">
                                </form>
                                <img alt="" src="/assets/images/home.png"  onclick='$("#usecase_7").submit();'/>
                            </div>
                            {% endif %}
                          
                        </div> 
                            <a class="left carousel-control" href="#carousel-285359" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> 
                            <a class="right carousel-control" href="#carousel-285359" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
                </div>
        </div>
<script type="text/javascript">
    $("[rel='tooltip']").tooltip();    
 
    $('.thumbnail').hover(
        function(){
            $(this).find('.caption').fadeIn(150); //.fadeIn(250)
        },
        function(){
            $(this).find('.caption').fadeOut(150); //.fadeOut(205)
        }
    ); 

</script>

</body>
</html>