{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
{% endblock %}
{% block title %}User Equipment{% endblock %}
{% block content %}


	<h3>Subscriber info</h3>      
	<div class="row">
	<div class="col-xs-2">
	<div  class="thumbnail">
	      <img src="/assets/images/{{ue.userEquipment}}.png" alt="{{ue.userEquipment}}">
	</div>
	</div>
  <div class="col-sm-4">
	<table class="table">   
		<tbody> 
			<tr>
				<td>Indentity</td><td> {{ ue.identity}} </td> 
			</tr>
			<tr>	
				<td>Equipment </td>	<td> {{ ue.userEquipment}} </td> 
			</tr>
			<!--
			<tr>	
				<td>Equipment Type </td>	<td> {{ ue.userEquipmentType}} </td> 
			</tr>
			<tr>	
				<td>Identity Type </td>	<td> {{ ue.identityType}} </td> 
			</tr>
			-->
		</tbody>
	</table>
	</div>
</div>
<div>
</div>
{% if ue.sessions|count > 0 %} 
<form action="/pcef/{{ue.pcef.id}}/sessions/delete/{{ue.sessions[0].sessionId}}" method="POST" id="session-terminate">
</form>
{% else %}
<form action = "/ue/{{ue.identity}}/sessions" method="post" id ="session-create">
</form>
{% endif %} 

<input type="checkbox" id="phone-switch" {% if ue.sessions|count > 0 %} checked {% endif %} {% if buckets|count == 0%} disabled {% endif %} data-toggle="toggle" >
<script>
  $(function() {
    $('#phone-switch').change(function() {
    	if ($(this).prop('checked')) {
    		$("#session-create").submit();
    	}
    	else 
    	{
    		$("#session-terminate").submit();
    	}
    })
  })
</script>
{% if ue.sessions|count >0 %}
	<a href="/ue/{{ue.identity}}/session/{{ue.sessions[0].sessionId}}"><h4><span class="label label-primary">Use phone</span></h4></a>
{% else %}
{% if buckets|count == 0 %}

	
	<p>You must purchase some subscription.</p>
	<p>Please check our tremendous offers at </p> <a href="/starmobile/{{ue.identity}}"><img style="background-image:url(/assets/images/background.jpg); " src="/assets/images/logo.png" width="400px"></a>
	{% endif %}
{% endif %}

<div class="row">
{% if buckets|count >0 %}
<h4>Subscriptions</h4>
	<div class="row">
	<div class="col-md-8">
			<table class="table">  
			<tr>
			<th>Product</th><th>Time left</th><th>Used</th>
			</tr>
			{% for bucket in buckets %}
			{% if bucket.stopTime == None or unicodeToDatetime(bucket.stopTime) > date_now() %}
			<tr>
			<td>{{bucket.name}}</td>
			<td>{{daysLeft(bucket.stopTime)}}</td>
			<td>
			{{bucket.counters["tot"]|filesizeformat}}
						
			</td>
			</tr>
			{% endif %}
			{% endfor %}
			</table>
			</div>
		</div>
		<form action="/bdh/{{ue.identity}}" method="post">
			<input name="action" class="btn btn-xs btn-danger" type="submit" value="Remove subscriptions">
		</form>
{% endif %}		
{% endblock %}
</div>