{% extends "base.html" %}
{% block title %}Use Cases{% endblock %}
{% block content %}

<div class="row">
<!-- Get Expandable panels or jumbotrons per use case, containing a description of the UC
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Bearer/Session policy Use Case</h3>
    <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Coupon policy Use Case</h3>
  </div>
  <div class="panel-body hidden">
    Panel content
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Family policy Use Case</h3>
  </div>
  <div class="panel-body collapsed">
    Panel content
  </div>
</div>
-->
        <div class="col-sm-4">
          <ul class="list-group">
            <li class="list-group-item"><a href="/usecase/1">Bearer/Session policy Use Case</a></li>
            <li class="list-group-item"><a href="/usecase/2">Coupon policy Use Case</a></li>
            <li class="list-group-item"><a href="/usecase/3">Family policy Use Case</a></li>
            <li class="list-group-item"><a href="/usecase/4">Service differentiation policy Use Case</a></li>
            <li class="list-group-item"><a href="/usecase/5">Sports VoD Use Case</a></li>
            <li class="list-group-item"><a href="/usecase/6">PCEF with new Diameter AVP</a></li>
          </ul>
        </div>
        </div>
		
					
{% endblock %}