<!DOCTYPE html>
<html lang="en">
<head
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <title></title>
    <style>
    body {
        padding-top: 65px;
        padding-bottom: 30px;
    }
    </style>
</head>
<body role="document">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PCC Demo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/ue">UE</a></li>
            <li><a href="/pcef">PCEF</a></li>
            <li><a href="/bdh">BDH</a></li>
            <li><a href="/usecases">Use Cases</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      </nav>
      
   
    <div class="container theme-showcase" role="main">    
        <div class="row">
<!-- Get Expandable panels or jumbotrons per use case, containing a description of the UC
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Bearer/Session policy Use Case</h3>
    <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Coupon policy Use Case</h3>
  </div>
  <div class="panel-body hidden">
    Panel content
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Family policy Use Case</h3>
  </div>
  <div class="panel-body collapsed">
    Panel content
  </div>
</div>
-->
        <div class="col-sm-4">
          <ul class="list-group">
            <li class="list-group-item"><a href="/usecase/1">Bearer/Session policy Use Case</a></li>
            <li class="list-group-item"><a href="/usecase/2">Coupon policy Use Case</a></li>
            <li class="list-group-item"><a href="/usecase/3">Family policy Use Case</a></li>
            <li class="list-group-item"><a href="/usecase/4">Service differentiation policy Use Case</a></li>
            <li class="list-group-item"><a href="/usecase/5">Sports VoD Use Case</a></li>
            <li class="list-group-item"><a href="/usecase/6">PCEF with new Diameter AVP</a></li>
          </ul>
        </div>
        </div>
    </div>
    <div id="page-footer">        
        &copy; Copyright 2015 by <a href="http://www.digitalroute.com/">DigitalRoute</a>.
    </div>
</body>
</html>